# Ignored directories and files
## pycharm project path
.idea

## figures
fig-actions.png
fig-population_cells.png
fig-return_explore_rate.png

## ignore datapaths
**/deep_learning_mab/Improved_notebooks/data/
**/MNIST
**/pathmnist.npz

## temporal __pycache__/
**/__pycache__/

## .ipynb_checkpoints/
**/.ipynb_checkpoints

## ignore training checkpoints
**/*.pth

## ignores vim temporal files
**/*.swp

## others
**/.DS_Store

reinforcement_learning_Neythen/archive/*
